.size {
    width: 20%;
    display: flex;
    margin: 0 auto;
}



.search {
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.example-form {
    margin-top: 5cm;
}

/* .state {
    margin-left: 25%;
    width: 7%;
} */